/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
*{  
    /* border: 1px solid black; */
}

/* header styling */
header nav{
    /* border: 1px solid grey; */
    width: 800px;
    margin: auto 30%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    
}
.logo{
    width: 20%;
    margin: 1% auto;
}
.links{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.links a{
    text-decoration: none;color:#000000;
}
.titleImage{
    margin:0 30%;
    /* display: flex; */
    /* align-items: center; */
}
.about{
    width: 800px;
    padding: 0 1%;
    padding-bottom: 20px;
    margin: auto;  
    border-bottom: 1px dashed black;
}
/* Styles for boxes */
.container{
    /* border: 1px solid black; */
    width: 800px;
    margin: 100px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.strategy{
    /* border: 1px solid black; */
    width:300px;
    padding: 3%;
    margin: auto;
    border-bottom:1px dashed black;
}
.strategy img{
    width: 300px;
    margin-bottom: 20px;
}
.strategy p{
    margin-bottom: 20px;
}
.strategy a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1% 4%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.work{
    width:300px;
    padding: 3%;
    margin: auto;
    border-bottom:1px dashed black;
}
.work img{
    width: 300px;
    margin-bottom: 20px;
}
.work p{
    margin-bottom: 20px;
}
.work a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1% 4%;
    border-radius: 10px;
    margin: 20px auto;
}
.places{
    width:300px;
    padding: 3%;
    margin: auto;
    border-bottom:1px dashed black;
}
.places img{
    width: 300px;
    margin-bottom: 20px;
}
.places p{
    margin-bottom: 20px;
}
.places a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1% 4%;
    border-radius: 10px;
    margin: 20px auto;
}
.collaboration{
    width:300px;
    padding: 3%;
    margin: auto;
    border-bottom:1px dashed black;
}
.collaboration img{
    width: 300px;
    margin-bottom: 20px;
}
.collaboration p{
    margin-bottom: 20px;
}
.collaboration a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1% 4%;
    border-radius: 10px;
    margin: 30px auto;
}

/* style for worktogether */
.workTogether{
    width:800px;
    margin: auto;
    padding-bottom: 1%;
}
/* styles for footer */
footer {
    width: 800px;
    background: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin:auto;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

